* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body, html {
    height: 0;
    width: 0;
    height: 0;

  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-side {
    flex: -1;
    position:fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #4169C1; 
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }


  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #3b5cb8;
  color: white;
  padding: 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}


.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.username {
  font-weight: bold;
  font-size: 18px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a,
.logout {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menu a.active,
.menu a:hover,
.logout:hover {
  background-color: #2a4aa0;
  border-radius: 8px;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.main-content {
  flex-grow: 1;
  background-color: white;
  padding: 30px;
}


.right-side {
    flex: 1;
    margin-left: 250px;
    margin-bottom: 20px;
    background-size: cover;
    display: flex;
    flex-direction: column; /* <-- Faz empilhar os elementos na vertical */
    justify-content: flex-start; /* <-- Alinha no topo */
    align-items: flex-start; /* <-- Alinha à esquerda */
    padding: 20px; /* <-- Adiciona espaçamento interno */
    color: black;
  }


 